<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Redirecting</title>
        <style>
            .loading-info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 100vh;
            }

            .loading-info .loader-text-wrapper .loader-text {
                text-align: center;
                color: black;
                font-size: 1.5rem;
                padding: 1rem;
                font-family: Arial, Helvetica, sans-serif;
            }

            .loader-text .loader-subtext {
                padding: .25rem;
                margin: .25rem;
            }

            .loading-info .loader-text-wrapper .loader-wrapper {
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            .loader {
                border: 8px solid #f3f3f3;
                border-top: 8px solid #3498db;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
                margin: 2rem
            }

            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }
        </style>
    </head>
    <body onload="console.log('hello');document.f1.submit();">

        <div class="loading-info">
            <div class="loader-text-wrapper">
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
                <div class="loader-text">
                    <div class="loader-subtext">We are processing your transaction</div>
                    <div class="loader-subtext">Please do not hit refresh or browser back button or close this window</div>
                </div>
            </div>
        </div>

        <form method="post" action="{{{TRANSACTION_URL}}}" name="f1">
            <input type="hidden" name="MID" value="{{{MID}}}">
            <input type="hidden" name="WEBSITE" value="{{{WEBSITE}}}">
            <input type="hidden" name="ORDER_ID" value="{{{ORDER_ID}}}">
            <input type="hidden" name="CUST_ID" value="{{{CUST_ID}}}">
            <input type="hidden" name="MOBILE_NO" value="{{{MOBILE_NO}}}">
            <input type="hidden" name="EMAIL" value="{{{EMAIL}}}">
            <input type="hidden" name="INDUSTRY_TYPE_ID" value="{{{INDUSTRY_TYPE_ID}}}">
            <input type="hidden" name="CHANNEL_ID" value="{{{CHANNEL_ID}}}">
            <input type="hidden" name="TXN_AMOUNT" value="{{{TXN_AMOUNT}}}">
            <input type="hidden" name="CALLBACK_URL" value="{{{CALLBACK_URL}}}">
            <input type="hidden" name="CHECKSUMHASH" value="{{{CHECKSUMHASH}}}">
        </form>

        <script type="application/javascript">
            document.f1.submit();
        </script>
    </body>
</html>
