<form action="{{this.callBackUrl}}" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="{{this.key}}"
            data-amount="{{this.amount}}"
            data-currency="{{this.currency}}"
            data-order_id="{{this.gatewayOrderId}}"
            data-buttontext="Pay with Razorpay"
            data-name="{{this.merchantName}}"
            data-description="{{this.description}}"
            data-prefill.name="Gaurav Kumar"
            data-prefill.email="gaurav.kumar@example.com"
            data-prefill.contact="9999999999"
            data-theme.color="{{this.color}}"
    />
</form>



<script type="application/javascript">
            document.f1.submit();
        </script>