<!doctype html>
<html>

<head>
    <title>Redirecting</title>

    <style>
            .loading-info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 100vh;
            }

            .heading {
                font-size: 1.5rem;
            }

            .loading-info .loader-text-wrapper .loader-text {
                text-align: center;
                color: black;
                font-size: 1rem;
                padding: 1rem;
                font-family: Arial, Helvetica, sans-serif;
            }

            .loader-text .loader-subtext {
                padding: .25rem;
                margin: .25rem;
            }

            .loading-info .loader-text-wrapper .loader-wrapper {
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            .loader {
                border: 8px solid #f3f3f3;
                border-top: 8px solid #3498db;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
                margin: 2rem
            }

            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }



    </style>
</head>
<body>
<div>
    <div class="loading-info">
        <div class="loader-text-wrapper">
            <div class="loader-wrapper">
                <div class="loader"></div>
            </div>
            <div class="loader-text">
                <div class="loader-subtext heading">Redirecting ...</div>
                <div class="loader-subtext">Please wait while we redirect you</div>
            </div>
        </div>
    </div>
    <form action="{{this.callBackUrl}}" method="POST" name="tenantSubmitForm" enctype="application/x-www-form-urlencoded">
        {{#if this.status}}
        <input type="hidden" name="paymentStatus" value="{{this.status}}">
        {{/if}}
        {{#if this.gatewayTransactionId}}
        <input type="hidden" name="gatewayTransactionId" value="{{{this.gatewayTransactionId}}}">
        {{/if}}
        {{#if this.paymentTransactionId}}
        <input type="hidden" name="paymentTransactionId" value="{{{this.paymentTransactionId}}}">
        {{/if}}
        {{#if this.baseError}}
        <input type="hidden" name="errorCode" value="{{this.baseError.code}}">
        <input type="hidden" name="errorDescription" value="{{this.baseError.description}}">
        {{/if}}
    </form>
    <script type="application/javascript">
                this.tenantSubmitForm.submit();

    </script>
</div>
</body>
</html>